
@{
    ViewBag.Title = "Index";
}

<section class="sct-color-3 slice">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block block-image v1 mb-40">
                    <div class="block-image">
                        <img src="images/prv/blog/img-wide-1.jpg">
                    </div>
                    <div class="block-content">
                        <h2 class="block-title">
                            <a href="#">Quodsi delenit propriae duo ea</a>
                        </h2>
                        <p style="font-size:large">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus
                        </p>
                    </div>

                    <ul class="meta-info-cells v2 float-wrapper">
                        <li><i class="fa fa-calendar"></i> February 23, 2015</li>
                        <li><i class="fa fa-user"></i> By <a href="#">Devisio</a></li>
                        <li><i class="fa fa-file"></i> <a href="#">Category</a></li>
                        <li><i class="fa fa-comments"></i> <a href="#">23 comments</a></li>
                        <li><i class="fa fa-heart"></i> <a href="#">199 likes</a></li>
                        <li class="pull-right"><a href="#" class="btn-link">Read more</a></li>
                    </ul>
                </div>

                <h3 class="block-title">
                    <a href="#">Making an Auto Insurance Claim</a>
                </h3>

                <p style="font-size:large;">
                    Wtih text under it. Like this 
                </p>

                <div class="block block-image v1 mb-40">
                    <div class="block-image">
                        <img src="images/prv/blog/img-wide-2.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            <a href="#">Quodsi delenit propriae duo ea</a>
                        </h3>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus
                        </p>
                    </div>

                    <ul class="meta-info-cells v2 float-wrapper">
                        <li><i class="fa fa-calendar"></i> February 23, 2015</li>
                        <li><i class="fa fa-user"></i> By <a href="#">Devisio</a></li>
                        <li><i class="fa fa-file"></i> <a href="#">Category</a></li>
                        <li><i class="fa fa-comments"></i> <a href="#">23 comments</a></li>
                        <li><i class="fa fa-heart"></i> <a href="#">199 likes</a></li>
                        <li class="pull-right"><a href="#" class="btn-link">Read more</a></li>
                    </ul>
                </div>

                <div class="block block-image v1 mb-40">
                    <div class="block-image">
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/74364197"></iframe>
                        </div>
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            <a href="#">Quodsi delenit propriae duo ea</a>
                        </h3>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus
                        </p>
                    </div>

                    <ul class="meta-info-cells v2 float-wrapper">
                        <li><i class="fa fa-calendar"></i> February 23, 2015</li>
                        <li><i class="fa fa-user"></i> By <a href="#">Devisio</a></li>
                        <li><i class="fa fa-file"></i> <a href="#">Category</a></li>
                        <li><i class="fa fa-comments"></i> <a href="#">23 comments</a></li>
                        <li><i class="fa fa-heart"></i> <a href="#">199 likes</a></li>
                        <li class="pull-right"><a href="#" class="btn-link">Read more</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <span class="clearfix mt-20"></span>

        <!-- PAGER -->
        <nav>
            <ul class="pager">
                <li class="previous">
                    <a href="#"><span aria-hidden="true">&larr;</span> Older</a>
                </li>
                <li class="pager-count">
                    <span>1 of 20</span>
                </li>
                <li class="next">
                    <a href="#">Newer <span aria-hidden="true">&rarr;</span></a>
                </li>
            </ul>
        </nav>
    </div>
</section>


