<!-- FOOTER -->
<footer class="footer style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <h1>Binary Planet Online</h1>
                    <p class="no-margin">
                        Poems from the collection which have already appeared online can be accessed here. My gratitude and thanks all my online publishers.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col">
                    <h4>Publication Credits</h4>
                    <ul>
                        <li><a target="_blank" href="https://www.arlingtontransit.com/pages/about/moving-words/moving-words-2018-poems/" title="7 Disappearing Words">7 Disappearing Words,</a> 2018 Moving Words poetry completion</li>
                        <li><a target="_blank" href="https://anthonywatkins.wixsite.com/btsjul2018/formal-rhyming-poetry/" title="A Non-Combatants' Vietnam">A Non-Combatants’ Vietnam,</a> published in Better Than Starbucks</li>
                        <li><a target="_blank" href="http://scrypticmagazine.wixsite.com/scryptic/" title="And Now a Word From the Management">And Now a Word From the Management,</a> published in Scryptic Magazine, Spring 2018</li>
                        <li><a target="_blank" href="http://whimperbang.com/issue-16/henry-crawford/" title="Brain Imaging">Brain Imaging,</a> published in Whimperbang</li>
                        <li><a target="_blank" href="http://scrypticmagazine.wixsite.com/scryptic/" title="Elegy for a Spin Instructor ">Elegy for a Spin Instructor, </a> published in Scryptic Magazine, Spring 2017</li>
                        <li><a target="_blank" href="http://lit.cat/reads/hal-9000/" title="HAL 9000 [A Year Before the Jupiter Launch], ">HAL 9000 [A Year Before the Jupiter Launch],</a> published in Lit.Cat</li>
                        <li><a target="_blank" href="https://districtlit.com/2018/04/02/crawford-2018/" title="Leaving">Leaving,</a> published in District Lit</li>
                        <li><a target="_blank" href="https://www.politics-prose.com/districtlines/" title="Oh, Columbia!, ">Oh, Columbia!, </a>published in District Lines Vol V 2018</li>
                        <li><a target="_blank" href="http://www.wildagepress.com/santa-clara-server-room-by-henry-crawford/" title="Santa Clara Server Room">Santa Clara Server Room, </a> published in Wild Age Press</li>
                        <li><a target="_blank" href="https://mothersalwayswrite.com/saturday-morning/" title="Saturday Morning ">Saturday Morning, </a> published in Mother's Always Write</li>
                        <li><a target="_blank" href="http://typishly.com/2018/01/17/taking-the-fall/" title="Taking the Fall">Taking the Fall, </a> published in Typishly</li>
                        <li><a target="_blank" href="http://olentangyreview.com/index.html" title="The Sonnosphere [Fragments of a Sci-Fi Epic]">The Sonnosphere [Fragments of a Sci-Fi Epic], </a> published in Olentangy Review</li>
                        <li><a target="_blank" href="https://www.facebook.com/texturemagazine/" title="They Almost Look Like Us">They Almost Look Like Us, </a> published in TEXTure Magazine</li>
                        <li><a target="_blank" href="http://infii.weebly.com/henry-crawford.html" title="Walt Whitman Ekphrastic">Walt Whitman Ekphrastic, </a> published in Mannequin Haus</li>
                        <li><a target="_blank" href="http://www.ekphrastic.net/the-ekphrastic-review/years-later-frank-ohara-by-henry-crawford" title="Years Later, Frank O’Hara">Years Later, Frank O’Hara, </a> published in The Ekphrastic Review</li>

                        @*   <li><a target="_blank" href="" title="XXXXXXX">XXXXXXX, </a> published in XXXXXXX</li>    *@








                    </ul>
                </div>
            </div>


            <div class="col-md-3">
                <div class="col">
                    <h4>Henry Crawford</h4>
                    <ul>
                        <li><a target="_blank" href="http://HenryCrawfordPoetry.com/" title="American Software">American Software</a></li>
                        <li><a target="_blank" href="http://henrycrawfordpoetry.com/Home/Bio" title="Bio">Henry Crawford Bio</a></li>
                        <li><a target="_blank" href="http://henrycrawfordpoetry.com/Home/Contact" title="Contact">Contact the Author</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

