<!-- FOOTER -->
<footer class="footer style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <h1>The Binary Planet Online</h1>
                    <p class="no-margin">
                        Poems from the collection which have already appeared online can be accessed here. My gratitude and thanks all my online publishers.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col">
                    <h4>Live Links:</h4>
                    <ul>
                        <li><a target="_blank" href="https://anthonywatkins.wixsite.com/btsjul2018/formal-rhyming-poetry/" title="A Non-Combatants' Vietnam">A Non-Combatants’ Vietnam,</a> published in Better Than Starbucks</li>
                        <li><a target="_blank" href="https://anthonywatkins.wixsite.com/btsmar2019/experimental-found-prose-poetry" title="Asleep At The Wheel">Asleep At The Wheel, </a> published in XBetter Thank Starbucks</li>
                        <li><a target="_blank" href="https://the-otolith.blogspot.com/2019/04/henry-crawford.html" title="Audio Tour of a Box">Audio Tour of a Box, </a> published in Otolith</li>
                        <li><a target="_blank" href="https://terrorhousemag.com/bot/?fbclid=IwAR1OTnIDvawESLxkCnYTeYMQZtqex6PLUJ-1BH7iQbuj_jeSj72pVnwAsr4" title="Bot, David Foster Wallace and Seven Traffic Lights">Bot, David Foster Wallace and Seven Traffic Lights,</a> published in Terror House Magazine</li>
                        <li><a target="_blank" href="https://the-otolith.blogspot.com/2019/04/henry-crawford.html" title="Boy in a Black T-Shirt, ">Boy in a Black T-Shirt, </a> published in Otolith</li>
                        <li><a target="_blank" href="http://whimperbang.com/issue-16/henry-crawford/" title="Brain Imaging">Brain Imaging,</a> published in Whimperbang</li>
                        <li><a target="_blank" href="http://runebear.com/weekly/cowboy-dreaming/" title="Cowboy Dreaming">Cowboy Dreaming, </a> published in >Rune Bear</li>
                        <li><a target="_blank" href="https://intothevoidmagazine.com/article/driving-across-a-bridge/" title="Driving Across a Bridge">Driving Across a Bridge,</a> published in Into the Void</li>
                        <li><a target="_blank" href="https://districtlit.com/2019/10/11/farm-crawford/" title="Driving by a Farm at a Distance">Driving by a Farm at a Distance, </a> published in District Lit</li>
                        <li><a target="_blank" href="https://www.themetaworker.com/2018/10/15/game-on-by-henry-crawford/" title="Game [On]">Game [On], </a> published in Metaworker</li>
                        <li><a target="_blank" href="https://districtlit.com/2018/04/02/crawford-2018/" title="Leaving">Leaving,</a> published in District Lit</li>
                        <li><a target="_blank" href="https://usfblogs.usfca.edu/switchback/poetry/making-an-auto-insurance-claim/?fbclid=IwAR0_sN1y_CNc9L94XA5lSL90uj2SSz0VmsdYVDzFpA5uoh5KzpOvx0qDI9k" title="Making An Auto Insurance Claim">Making An Auto Insurance Claim, </a> published in Switchback</li>
                        <li><a target="_blank" href="https://mothersalwayswrite.com/saturday-morning/" title="Saturday Morning ">Saturday Morning, </a> published in Mother's Always Write</li>
                        <li><a target="_blank" href="https://the-otolith.blogspot.com/2019/04/henry-crawford.html" title="Sex and its Discontents">Sex and its Discontents, </a> published in Otolith</li>
                        <li><a target="_blank" href="https://www.moriaonline.com/" title="Sketch of a Poem In 10 Broken Lines">Sketch of a Poem In 10 Broken Lines, </a> published in MORIA, Woodbury University</li>
                        <li><a target="_blank" href="http://typishly.com/2018/01/17/taking-the-fall/" title="Taking the Fall">Taking the Fall, </a> published in Typishly</li>
                        <li><a target="_blank" href="https://terrorhousemag.com/traffic-jam/" title="Traffic Jam, Cash Machine, Getaway Car">Traffic Jam, Cash Machine, Getaway Car, </a> published in Terror House Magazine</li>
                        <li><a target="_blank" href="https://the-otolith.blogspot.com/2019/04/henry-crawford.html" title="Twilight Zone Reboot">Twilight Zone Reboot, </a> published in Otolith</li>
                        <li><a target="_blank" href="http://infii.weebly.com/henry-crawford.html" title="Walt Whitman Ekphrastic">Walt Whitman Ekphrastic, </a> published in Mannequin Haus</li>
                        <li><a target="_blank" href="http://www.ekphrastic.net/the-ekphrastic-review/years-later-frank-ohara-by-henry-crawford" title="Years Later, Frank O’Hara">Years Later, Frank O’Hara, </a> published in The Ekphrastic Review</li>

                        @*   <li><a target="_blank" href="" title="XXXXXXX">XXXXXXX, </a> published in XXXXXXX</li>    *@








                    </ul>
                </div>
            </div>


            <div class="col-md-3">
                <div class="col">
                    <h4>Henry Crawford</h4>
                    <ul>
                        <li><a target="_blank" href="http://HenryCrawfordPoetry.com/" title="American Software">American Software</a></li>
                        <li><a target="_blank" href="http://henrycrawfordpoetry.com/Home/Bio" title="Bio">Henry Crawford Bio</a></li>
                        <li><a target="_blank" href="http://henrycrawfordpoetry.com/Home/Contact" title="Contact">Contact the Author</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

