<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Portrait of a Family as Four Discrete Stanzas</title>
    <!-- Google Fonts  -->

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet" />

    <!-- Bootstrap inclusion  -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Files needed for popover and tooltips MUST BE REFERENCED BEFORE BOOTSTRAP.MIN.JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="../../Content/css/custom-libre-baskerville-style.css" rel="stylesheet" />

</head>

<!-- https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-fluid-layout.php -->

<body>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-9">
                <div class="post-item">
                    <div class="post-meta-top">
                        <div class="post-image">
                            <a href="../../Content/images/away/portrait_of_a _family_as_four_discrete_stanzas.JPG" class="theater" title="Portrait of a family
                               .JPG">
                                <img src="../../Content/images/away/portrait_of_a _family_as_four_discrete_stanzas.JPG" />
                            </a>
                        </div>
                    </div>
                    <div class="post-content">
                        <!-- Post title-->
                        <h2 class="post-title">Portrait of a Family as Four Discrete Stanzas</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    1.<br />
                    I fall into sofas lengthwise on cold afternoons dreaming.<br />
                    Sometimes [<b>Stanza 3</b>], long dead, appears as a mother's scold.<br />
                    <br />
                    2.<br />
                    Let me say a word about my brother<br />
                    Asleep on his couch dreaming of mother.<br />
                    He'll never know what I did in those days&nbsp;&nbsp;<br />
                    When sister was ill but could have been saved. <br />
                    Why wasn't he there in the waiting room<br />
                    Hearing the news: [<b>Stanza 4</b>]&nbsp;&nbsp;gone too soon.<br />
                    Instead he became a long distance call<br />
                    Back in California telling us all<br />
                    "There's nothing to do, " he'd say on the phone<br />
                    But that was no cause to leave us alone.<br />
                    <br />
                    3.<br />
                    These are my children.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A bit cruel of [<b>Stanza 1</b>]<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to write us this way.<br />
                    <br />
                    4.<br />
                    do any of your know how hard it is to live by the hour <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by the minute<br />
                    seeing the self&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;set out before you	 like a tray of hospital food<br />
                    poor [<b>Stanza 2</b>]	drove all night through New Jersey<br />
                    and still did not&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;make it	 on time<br />
                    leaving me to wonder<br />
                    did he stop off for&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;coffee at one of those 	all night diners<br />
                    for a slice of refrigerated&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cheesecake<br />
                    I was imagining the&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;leftover crumbs on a blueberry plate<br />
                    as the doctors&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;were ruling out the&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;options<br />
                    and all I wanted&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to do was die<br />
                    <br />
                </p>
                <br />
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function () {
            $("[data-toggle='tooltip']").tooltip();
            $('[data-toggle="popover"]').popover();
        });

    </script>

</body>

</html>

