
@{
    ViewBag.Title = "Error";
}

<!-- 404 Error section -->
<section class="bg-base-1 color-white page-cover dynamic-page-cover">
    <div class="row">
        <div class="col-md-12">

            <div class="text-center">
                <h1 class="heading-404">
                    4<i class="fa fa-question-circle"></i>4
                </h1>

                <div class="clearfix"></div>

                <h3 class="heading heading-sm text-caps font-500 pt-20">
                    The page you are looking for was moved, removed, renamed or might never existed.
                </h3>

                <div class="text-center mt-40">
                    <a href="/" class="btn btn-xl btn-base-5">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>