@{
    ViewBag.Title = "Home Page";
}

<!-- SLIDER -->
<section id="slider-wrapper" class="layer-slider-wrapper layer-slider-dynamic">
    <div id="layerslider" style="width:100%;">
        <!-- Slide 1 -->
        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- Slide background -->
            <img src="~/Content/images/backgrounds/blue_marble.jpg" class="ls-bg" style="width: 100%;" alt="Blue Marble" />
            
            <!-- Center title -->
            <h1 class="ls-l title-lg c-white text-uppercase text-center strong-700" style="width:100%; top:35%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                The Binary Planet
            </h1>

            <!-- Center paragraph -->
            <h2 class="ls-l text-center c-white" style="width: 900px; top: 50%; left: 50%;" data-ls="offsetxin:-250;offsetyin:-;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                Poems by Henry Crawford
            </h2>

        </div>

    </div>
</section>
<!-- SECTION 1 -->
<section class="slice sct-color-2 bb" id="section-1">
    <div class="container">
        <!-- BLOCKS - STYLE 6 -->
        <div class="row">
            <div class="col-md-4">
                <div class="block style-6 a-icon-effect-1 a-icon-effect-1a">
                    <div class="block-icon circle">
                        <a href="@Url.Action("Poem", "Poems", new {Id = 1})"><i class="a-icon ion-ios-world"></i></a>
                    </div>
                    <div class="block-body text-center">
                        <h3 class="block-title">Take a hyperlink route</h3>
                        <p>
                            The poems will contain hyperlinks you can click on to go to other poems.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block style-6 a-icon-effect-1 a-icon-effect-1a">
                    <div class="block-icon circle">
                        <a href="@Url.Action("TableOfContents", "Home")"><i class="a-icon ion-ios-list"></i></a>
                    </div>
                    <div class="block-body text-center">
                        <h3 class="block-title">Go to the table of contents</h3>
                        <p>
                            Select poems by title from the table of contents.
                        </p><br />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block style-6 a-icon-effect-1 a-icon-effect-1a">
                    <div class="block-icon circle">
                        <a href="@Url.Action("SectionOne", "Poems")"><i class="a-icon ion-android-arrow-forward"></i></a>
                    </div>
                    <div class="block-body text-center">
                        <h3 class="block-title">Read from front to back</h3>
                        <p>
                            Start on the first poem and work your way through the book, front to back.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br /><br>
        <div class="col-md-12">

            <!-- PARALLAX - STYLE 2 MASK 4 -->
            <section class="parallax-section parallax-section-2" style="background-image: url('/content/images/backgrounds/dark_sunset.jpg');">
                <div class="mask mask-2 v1"></div>
                <div class="parallax-content">
                    <h1 class="parallax-title c-white">Welcome</h1>
                    <p class="c-white" style="text-align:left;">
                        to the Binary Planet. With few exceptions, poets have traditionally been unable to control the presentation layer of their work. As the result, much of poetry even today is bound to the printed page. On this Binary Planet I want you to see the poems. I want you to hear the poems. I want you to see a living book and know that poetry can be more...much much more.
                        <br /><br />
                        There is a small suggested donation. This gives you access to the entire site and all updates and additions. Fond of paper? Subscribers can download a PDF of the manuscript or PDF's of individual poems.
                        To become a subscriber, just click on the "Register" link. Your email will not be used or sold to anyone for any purpose.
                        <br /><br />
                        So come aboard and let's see how far we can go.
                    </p>
                </div>
            </section>
            <br />
            <section class="bg-base-1">
                <div class="cta-wrapper">
                    <div class="container">
                        <div class="row v-align-middle">
                            <div class="col-sm-8">
                                <h1 class="text-normal">
                                    From the author of <strong>American Software</strong>
                                </h1>
                            </div>
                            <div class="col-sm-3">
                                <div class="cta-button">
                                    <a target="_blank" href="http://henrycrawfordpoetry.com/" class="btn-a btn-lg btn-1 btn-1a fa-long-arrow-right text-center">
                                        American Software
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section class="slice sct-color-1 bb">
                <div class="container">
                    <!-- SECTION TITLE-->
                    <div class="section-title-wrapper style-1 v1 no-margin">
                        <h3 class="section-title center">
                            <span>Poetry Can Be More!</span>
                        </h3>
                    </div>
                    <p class="text-center mb-20">
                        The poem that comes to you knows the way. It will stay for a time but not a long time. It needs nothing.
                        <br /> - The Art of the Poem
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="block block-image v1">
                                <div id="carousel-1" class="carousel carousel-2 slide mb-40" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-1" data-slide-to="1" class=""></li>
                                        <li data-target="#carousel-1" data-slide-to="2" class=""></li>
                                        <li data-target="#carousel-1" data-slide-to="3" class=""></li>
                                        <li data-target="#carousel-1" data-slide-to="4" class=""></li>
                                        <li data-target="#carousel-1" data-slide-to="5" class=""></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <!-- Slide item 1 -->
                                        <div class="item active">
                                            <img src="~/Content/images/away/fugue_before_lunch.JPG" class="rounded" />
                                        </div>

                                        <!-- Slide item 2 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/the_stanzas.JPG" class="rounded" />
                                        </div>

                                        <!-- Slide item 3 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/twilight_zone_reboot.JPG" class="rounded" />
                                        </div>

                                        <!-- Slide item 4 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/sketch_of_a_poem_in_10_broken_lines.JPG" class="rounded" />
                                        </div>

                                        <!-- Slide item 5 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/30_second_saga.JPG" class="rounded" />
                                        </div>

                                        <!-- Slide item 6 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/a_non-combatants_vietnam.jpg" class="rounded" />
                                        </div>

                                    </div>
                                </div>
                                <div class="block-content">
                                    <h3 class="block-title">Section 0001</h3>
                                    <p>
                                        Living behind the lines.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="block block-image v1">
                                <div id="carousel-2" class="carousel carousel-2 slide mb-40" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-2" data-slide-to="1" class=""></li>
                                        <li data-target="#carousel-2" data-slide-to="2" class=""></li>
                                        <li data-target="#carousel-2" data-slide-to="3" class=""></li>
                                        <li data-target="#carousel-2" data-slide-to="4" class=""></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <!-- Slide item 1 -->
                                        <div class="item active">
                                            <img src="~/Content/images/away/brain_imaging.jpg" class="rounded" />
                                        </div>

                                        <!-- Slide item 2 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/one_night_in_the_dharma_lounge.JPG" class="rounded" />
                                        </div>
                                        <!-- Slide item 3 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/from_jrsey_cty_with_love_and_squalor.jpg" class="rounded" />
                                        </div>

                                        <!-- Slide item 4 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/santa_clara_server_room.JPG" class="rounded" />
                                        </div>

                                        <!-- Slide item 5 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/machine_language.jpg" class="rounded" />
                                        </div>

                                    </div>
                                </div>
                                <div class="block-content">
                                    <h3 class="block-title">Section 0010</h3>
                                    <p>
                                        Edge Cases.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="block block-image v1">
                                <div id="carousel-3" class="carousel carousel-2 slide mb-40" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-3" data-slide-to="1" class=""></li>
                                        <li data-target="#carousel-3" data-slide-to="2" class=""></li>
                                        <li data-target="#carousel-3" data-slide-to="3" class=""></li>
                                        <li data-target="#carousel-3" data-slide-to="4" class=""></li>
                                        <li data-target="#carousel-3" data-slide-to="5" class=""></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <!-- Slide item 1 -->
                                        <div class="item active">
                                            <img src="~/Content/images/away/years_later_frank_ohara.jpg" class="rounded" />
                                        </div>

                                        <!-- Slide item 2 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/twilight_zone_reboot.JPG" class="rounded" />
                                        </div>

                                        <!-- Slide item 3 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/the_convergence.JPG" class="rounded" />
                                        </div>

                                        <!-- Slide item 4 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/happiness.jpg" class="rounded" />
                                        </div>

                                        <!-- Slide item 5 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/from_jrsey_cty_with_love_and_squalor.jpg" class="rounded" />
                                        </div>

                                        <!-- Slide item 6 -->
                                        <div class="item">
                                            <img src="~/Content/images/away/7_disappearing_words.jpg" class="rounded" />
                                        </div>


                                    </div>
                                </div>
                                <div class="block-content">
                                    <h3 class="block-title">Section 0011</h3>
                                    <p>
                                        Reverse Engineering.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>      

        </div> 
</section>
