@model BinaryPlanet.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

<!-- SLIDER -->
<section id="slider-wrapper" class="layer-slider-wrapper layer-slider-dynamic">
    <div id="layerslider" class="col-md-12">
        <!-- Slide 1 -->
        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- Slide background -->
            <img src="~/Content/images/backgrounds/blue_marble.jpg" class="ls-bg" style="width: 100%;" alt="Blue Marble" />

            <!-- Center title -->
            <h1 class="ls-l title-lg c-white text-uppercase text-center strong-700" style="width:100%; top:35%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                The Binary Planet
            </h1>

            <!-- Center paragraph -->
            <h2 class="ls-l text-center c-white" style="width: 900px; top: 50%; left: 50%;" data-ls="offsetxin:-250;offsetyin:-;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <strong> Poems by Henry Crawford</strong>
            </h2>

            <!-- Center paragraph -->
            <h2 class="ls-l text-center c-white" style="width: 900px; top: 75%; left: 50%;" data-ls="offsetxin:-250;offsetyin:-;durationin:2000;delayin:2000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <strong>Spring 2020</strong>
            </h2>

        </div>

    </div>
</section>

<section class="slice sct-color-2 bb" id="section-1">
    
        <!-- BLOCKS - STYLE 6 -->

            <section class="bg-base-3">
                <div class="cta-wrapper">
                    <div class="container">
                        <div class="row v-align-middle">
                            <div class="col-sm-8">
                                <h1 class="text-normal">
                                    Reading November 7, 2019,<strong> Poetry at Parkmont</strong>
                                </h1>
                            </div>                           
                            <div class="col-sm-3">
                                <div class="cta-button">
                                    <a target="_blank" href="http://henrycrawfordpoetry.com/Events" class="btn-a btn-lg btn-1 btn-1a fa-long-arrow-right text-center">
                                        Poetry at Parkmont
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br /><br />






            <!-- PARALLAX - STYLE 2 MASK 4 -->
            <section class="parallax-section parallax-section-2" style="background-image: url('/content/images/backgrounds/desert_sky.jpg');">
                <div class="mask mask-2 v1"></div>
                <div class="parallax-content">
                    <h1 class="parallax-title c-white">The Word Works<br /><small style="color:white;">Presents The Binary Planet</small></h1>
                    <p class="c-white" style="text-align:left;">
                        The Binary Planet is an innovative collection of poems exploring the infinity of worlds between&nbsp;&nbsp; 1 and 0. It is the planet of politics, love, computer programming, auto insurance, pro wrestling, black holes, the meaning of snow, cowboys and farmers, sex and its discontents, David Foster Wallace, The Twilight Zone,  video games, the 22nd Century, pinball, artificial intelligence, climate change, J.S. Bach, server rooms, Vietnam and a night at a 1950’s drive-in.
                        <br /><br />
                        This is the official website of the Binary Planet. Please come back to catch up on readings, events and everything related to the Binary Planet.
                    </p>
                </div>
            </section>
            <br /><br />

            <section class="bg-base-3">
                <div class="cta-wrapper">
                    <div class="container">
                        <div class="row v-align-middle">
                            <div class="col-sm-8">
                                <h1 class="text-normal">
                                    From the author of <strong>American Software</strong>
                                </h1>
                            </div>
                            <div class="col-sm-3">
                                <div class="cta-button">
                                    <a target="_blank" href="http://henrycrawfordpoetry.com/" class="btn-a btn-lg btn-1 btn-1a fa-long-arrow-right text-center">
                                        American Software
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>      

</section>
