.poem-space {
    /* https://www.webpagefx.com/web-design/color-picker/a5e6cd */
    /* #DFE5A5 #9CD6C0 (darker) #B7E8D5 (ligher) #C2EDDD (even lighter) #C4F5E2 (ligher) #E1FCF2 (lighter) */
    background: #E1FCF2;
    color: #111;
    font: 16px 'Libre Baskerville', serif;
    text-align: center;
}

.poem-space div, poem-space h1, .poem-space h2, .poem-space h3, .poem-space h4, .poem-space h5, .poem-space h6 {
        margin: 0;
        padding: 0;
    }

/* for poems with flat liniation */
.hyperlines {
    line-height: 1.80;
}

#poem {
    margin: auto;
    padding: 20px 0;
    text-align: left;   
}

h1, h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    text-align: center;
}

.title {
    font-family: 'Libre Baskerville', serif;
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
    text-align:left;
}

.publication {
    font-variant: small-caps;
    letter-spacing: 1px;
}

.epigraph {
    font-size: smaller;
    margin-left: 125px;
}

h2 {
    color: #666;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}


/* The magic of selectors begins... */

h2:before {
    content: 'â€” ';
}

h2:after {
    content: ' â€”';
}

#poem h2 + p:first-letter {
    float: left;
    font-size: 38px;
    line-height: 1;
    margin: 2px 5px 0 0;
}

/*#poem p:first-line {
    font-variant: small-caps;
    letter-spacing: 1px;
}*/

#poem p:last-child {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

/* LINKS */

#poem a:link {
    color: #000000 !important;
}

#poem a:visited {
    color: green !important;
}

#poem a:hover {
    color: blue !important;
}

#poem a:active {
    color: red !important;
}
