body {
    /*font-family: 'Sedgwick Ave Display', cursive;*/
    /*font-family: 'Ubuntu Condensed', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Libre Baskerville', serif;
    font-size: large;
    background-color: #FFFFFF;
}


/* for poems with flat liniation */
.hyperlines {
    line-height: 1.80;
}




/* TOC STYLES */

#toc {
    font-family: 'Libre Baskerville', serif;
    font-size: large;
    background-color: #FFFFFF;
}

#toc a {
    margin-left:50px;
}

.toc-heading {
    font-family: 'Libre Baskerville', serif;
    background-color: #FFFFFF;
    text-align: left;
}


.stanza {
    padding-left: 30px;
}

.line {
    text-indent: -30px;
}

.tooltip {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.tooltip-inner {
    background-color: #0C67f9;
    color: #FFFFFF;
}

.popover-title {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

.popover-content {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F5F5F5;
    color: #000000;
    padding: 25px;
}

.container-fluid {
    background-color: #ffffff;
}

.poem h1, h2, h3, h4 {
    font-size: xx-large;
    color: #000000;
}
